@* @{
  Layout = "_Layout";
}

@model LibraryApp.Models.Copy;
@using LibraryApp.Models;
@using System.Collections.Generic;

<h2>Copies:</h2>
<br>
<h3>@Html.DisplayNameFor(model => model.CopyNumber): @Html.DisplayFor(model => model.CopyNumber)</h3>
<br>
@Html.DisplayNameFor(model => model.JoinEntities)

@if(@Model.Copies.Count == 0)
{
  <p>We don't have any copies, ass hat</p>
}
else
{
  <h4>Number of copies on hand</h4>
}




<p>@Html.ActionLink("Edit Copy", "Edit", new { id = Model.CopyId })</p>
<p>@Html.ActionLink("Delete Copy", "Delete", new { id = Model.CopyId })</p>
<p>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.CopyId })</p> *@