@{
  Layout = "_Layout";
}

@model LibraryApp.Models.Book;
@using LibraryApp.Models;
@using System.Collections.Generic;

<h2>Books:</h2>
<br>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<br>

@if(@Model.Copies.Count == 0)
{
  <p>We don't have any copies of this book, ass hat</p>
}
else
{
  <h4>Number of books on hand: @Model.Copies.Count</h4>
  
}

<!-- @if(Model.JoinEntities.Count == 0)
{
  <p>No authors have been assigned to this book</p>
}
else
{
  <h3>Author</h3>
  @foreach(AuthorBook join in Model.JoinEntities)
  {
    <p>Author: @join.Author.Name</p>
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
    
  }
} -->
@Html.ActionLink("Edit Authors For This Book", "ManageAuthor", new { id = Model.BookId })
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>