@{
  Layout = "_Layout";
}

@model LibraryApp.Models.Book

<h2>Edit</h2>

<h4>Edit this book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  <!-- @Html.LabelFor(model => model.JoinEntities)
  @Html.DropDownList("AuthorId") -->

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>